[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
vcrpy = "*"
pytest = "*"
black = "*"
bs4 = "*"
aiohttp = "*"
recurring-ical-events = "*"
icalendar = "*"
rich = "*"
bumpver = "*"

[dev-packages]

[requires]
python_version = "3.10"
